#body {
  background-size: 250% 250%;
  background-position: center 10%;
  /* background-color: rgba(200, 200, 227, 0.991);  */
  background: -webkit-linear-gradient(
    left,
    rgb(119, 117, 255),
    #9c9aff,
    #beb3ff,
    #e3e2fd
  );
  font-family: "Arial", sans-serif;
}

button {
  padding: 10px 20px;
  background: -webkit-linear-gradient(
    left,
    rgb(9, 8, 78),
    #0b0991,
    #2005b5,
    #3b32be
  );
  color: #fff;
  border: none;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  font-family: "Montserrat", sans-serif;
}

#bt {
  padding-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #fdfefe;
  color: #434343;
}

/* Form styles */
form {
  margin-top: 30px;
}

#select {
  margin-bottom: 0px;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 3px solid #1c185c;
  border-radius: 5px;
  transition: 0.3s;
  width: 200px;
}

select:hover {
  padding: 8px;
  font-size: 16px;
  border: 3px solid #1c185c;
  border-radius: 5px;
  transition: 0.3s;
}
.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  width: 80%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.option {
  background-color: none;
}
.custom-select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #1c185c;
}
.custom-select:hover,
.custom-select:focus {
  border-color: #1c185c;
  box-shadow: 0 0 10px rgba(11, 123, 37, 0.512);
}

.container {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-size: 100% 100%;
  position: absolute;
  top: 140px;
  right: 50px;
  left: 50px;
}

.form {
  color: #666;
  height: auto;
  width: 500px;
  overflow: auto;
  margin: auto;
  margin-bottom: 10rem;
  background: rgba(128, 115, 115, 0.406);
  border-radius: 1rem;
}

.form-card {
  background-color: #fdfdfd;
  border: none !important;
}

.form-in form .form-op select {
  height: 100%;
  width: 80%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid rgb(211, 211, 211);
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-in form .form-op select:focus {
  border-color: #0400ff;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field select::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .form-op select:focus::placeholder {
  color: #110ee4;
}

#select2 {
  margin-bottom: -20px;
}
