<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Select Players</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='player.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles1.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link rel="stylesheet" href="../static/navbar.css" />

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />

    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg w-100 position-fixed"
      style="z-index: 1"
    >
      <div class="d-flex align-item-center">
        <h3
          class="mx-5 fs-1 text-white"
          style="font-family: 'Dancing Script'; font-weight: '2000px'"
        >
          Betting Mate!
        </h3>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        style="margin-right: 50px"
        ;
      >
        <ul class="navbar-nav ms-auto mb-2">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- IPL Banner - 1 -->
    <div class="ipl-banner-left position-fixed" style="top: 110px">
      <div class="slider-frame">
        <div class="slide-images-up">
          <!-- Image-1 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='mi.jpg') }}"
              alt="Mumbai Indians"
            />
          </div>
          <!-- Image-2 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='srh.png') }}"
              alt="Sunrisers Hyderabad"
            />
          </div>
          <!-- Image-3 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='rcb.png') }}"
              alt="Royal Challengers Bangalore"
            />
          </div>
          <!-- Image-4 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='dc.png') }}"
              alt="Delhi Capitals"
            />
          </div>
          <!-- Image-5 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='rr.png') }}"
              alt="Rajasthan Royals"
            />
          </div>
          <!-- Image-6 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='gt.jpg') }}"
              alt="Gujarat Titans"
            />
          </div>
          <!-- Image-7 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='kxip.png') }}"
              alt="Kings XI Punjab"
            />
          </div>
          <!-- Image-8 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='csk.png') }}"
              alt="Chennai Super Kings"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <h1
        class="pt-5 text-center fw-bold"
        style="
          margin-top: 70px;
          color: rgb(12, 12, 12);
          font-family: 'Montserrat';
        "
      >
        Select Players
      </h1>

      {% if error_message %}
      <p style="color: red; font-family: 'Montserrat'" class="text-center">
        <b>{{ error_message }}</b>
      </p>
      {% endif %}

      <form method="post" class="mb-5">
        <div class="team-container" id="team1">
          <div class="card team-name">
            <div class="card-body">
              <h2 class="card-title" style="font-family: 'Montserrat'">
                {{ team1_name }}
              </h2>
            </div>
          </div>
          {% for player1 in players1 %}
          <div class="card rounded-0" id="card-{{ player1 }}">
            <div class="card-body">
              <div class="player-item">
                <input
                  type="checkbox"
                  id="checkbox-{{ player1 }}"
                  name="player1"
                  value="{{ player1 }}"
                  class="player-checkbox"
                  onchange="updateCount('team1', this)"
                />
                <span style="font-family: 'Montserrat'">{{ player1 }}</span>
                <div class="count"></div>
              </div>
            </div>
          </div>
          <script>
            document
              .getElementById("card-{{ player1 }}")
              .addEventListener("click", function (e) {
                var checkbox = document.getElementById(
                  "checkbox-{{ player1 }}"
                );
                if (e.target !== checkbox) {
                  checkbox.checked = !checkbox.checked;
                  updateCount("team1", checkbox);
                }
              });
          </script>
          {% endfor %}
        </div>

        <div class="team-container" id="team2">
          <div class="card team-name2">
            <div class="card-body">
              <h2 class="card-title" style="font-family: 'Montserrat'">
                {{ team2_name }}
              </h2>
            </div>
          </div>

          {% for player2 in players2 %}
          <div class="card rounded-0" id="card-{{ player2 }}">
            <div class="card-body">
              <div class="player-item">
                <input
                  type="checkbox"
                  id="checkbox-{{ player2 }}"
                  name="player2"
                  value="{{ player2 }}"
                  class="player-checkbox"
                  onchange="updateCount('team2', this)"
                />
                <span style="font-family: 'Montserrat'">{{ player2 }}</span>
                <div class="count"></div>
              </div>
            </div>
          </div>
          <script>
            document
              .getElementById("card-{{ player2 }}")
              .addEventListener("click", function (e) {
                var checkbox = document.getElementById(
                  "checkbox-{{ player2 }}"
                );
                if (e.target !== checkbox) {
                  checkbox.checked = !checkbox.checked;
                  updateCount("team2", checkbox);
                }
              });
          </script>
          {% endfor %}
        </div>

        <br style="clear: both" />
        <div class="d-flex justify-content-center align-items-center w-100">
          <input
            type="submit"
            value="Submit"
            class="w-50"
            style="border-radius: 30px"
          />
        </div>
      </form>
      <div id="spinner" style="display: none">
        <div class="spinner"></div>
        <h2
          class="text-center fw-bolder"
          style="
            text-shadow: 2px 2px 4px #f9f6f6;
            margin-top: 200px;
            font-family: 'Montserrat';
          "
        >
          Finding Best Perfoming Team...
        </h2>
      </div>
    </div>
    <!-- IPL Banner - 2 -->
    <div class="ipl-banner-right position-fixed" style="top: 110px">
      <div class="slider-frame">
        <div class="slide-images-down">
          <!-- Image-1 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='mi.jpg') }}"
              alt="Mumbai Indians"
            />
          </div>
          <!-- Image-2 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='srh.png') }}"
              alt="Sunrisers Hyderabad"
            />
          </div>
          <!-- Image-3 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='rcb.png') }}"
              alt="Royal Challengers Bangalore"
            />
          </div>
          <!-- Image-4 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='dc.png') }}"
              alt="Delhi Capitals"
            />
          </div>
          <!-- Image-5 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='gt.jpg') }}"
              alt="Gujarat Titans"
            />
          </div>
          <!-- Image-6 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='rr.png') }}"
              alt="Rajasthan Royals"
            />
          </div>
          <!-- Image-7 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='kxip.png') }}"
              alt="Kings XI Punjab"
            />
          </div>
          <!-- Image-8 -->
          <div class="image-container">
            <img
              class="image-width"
              src="{{ url_for('static', filename='csk.png') }}"
              alt="Chennai Super Kings"
            />
          </div>
        </div>
      </div>
    </div>

    <script>
      function updateCount(teamId, checkbox) {
        var countElement = checkbox.parentNode.querySelector(".count");
        var checkedCount = document.querySelectorAll(
          "#" + teamId + " .player-checkbox:checked"
        ).length;

        // Only display the count if checkbox is ckecked
        countElement.textContent = checkbox.checked ? checkedCount : "";
      }

      document.querySelector("form").addEventListener("submit", function () {
        document.querySelector("#spinner").style.display = "block";
        document.querySelector("form").classList.add("loading");
      });
    </script>
    <script>
      window.onload = function () {
        const navLinks = document.querySelectorAll(".nav-item a");
        navLinks.forEach((link) => {
          if (link.href === window.location.href) {
            link.classList.add("active");
          }
        });
      };
    </script>
  </body>
</html>
